@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* 
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size:12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
} */





/* Header - ------------------------------------------------------------------------------------------------- */



header{
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid slateblue; */
    padding: 10px 40px;
    background-color: #D1DDEF;

    /* box-shadow: 0 12px 15px rgba(69, 130, 200, 0.06); */
    box-shadow: 0 1px 20px rgba(122, 169, 222, 0.4);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

header div{
    display: flex;
    align-items: center;
}

header div a img{
    height: 70px;
}

header div span.hospital{
    font-size: 50px;
    color: #46C9BB;
    /* font-family: "Changa", sans-serif; */
    font-weight: 500;
    text-shadow: 1px 1px 2px #1F8BCC;
}

#headerLinks a{
    padding: 0 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    position: relative;
}

#headerLinks a span{
    vertical-align:middle;
    font-weight: 500;
}

#headerLinks a:hover,
#headerLinks a.active{
    color:#0368D8 ;
}


#headerLinks a.active::after,
#headerLinks a:hover::after{    /*  ::after ->after Content */
    content:""; /*  pseudo-element,No visible content --  Anything inside "will get displayed right beside/AFTER target element"   */

    width:30%;
    height: 2px;

    background-color: #0368D8;
    
    position: absolute;  /* position:relative in parent element */

    bottom: -4px;  /*  Moves slightly below <a>*/
    left: 20.5px;   /* Moves it 20px from the left side of the positioning container */

}



/*   Banner Section -------------------------------------------------------------------------------*/

#banner{
    background-image: url('assets/banner.png');
   
    background-size:cover;
    /* background-cover -> Makes the image large enough to completely cover the banner*/
    /* background-size : contain -> Shows the entire Image, Never Crops, may Leave empty Space */
    /* background-size : cover -> fill the entire container, May crop parts of image */

    height: 90vh;
    width: 100%;

    background-position: top 25% right 0;  /* right 0 -> aligns the image to the right image - 0 means no gap from the right edge */
    /* background-postion decides which portion gets cropped.  */
    /* Other Possible values: */
    /* background-position: center/ top left / top right / bottom right / center right / top right / 50% 50% / 100% 25% / right 25% / left 25% */
    /* 100% horizontally -> right, 25% vertically -> 25% down*/


    padding: 0 80px;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
}

#banner h3{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 35px;
    color:#072441;
}

#banner h1{
    color:#072441;
    font-size: 50px;
    /* padding-bottom: px; */
}

#banner h1 span{
    color:#11A8B0;
}

#banner p{
    color: #465b52;

}

#banner p{
    padding-top: 2px;
}


#bannerButton{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}


#bannerButton .book{
    font-size: 17px;
    font-weight: 500;
    /* width:fit-content ; */
    display: flex;
    align-items: center;
    padding: 7px 20px;
    gap: 5px;
    border-radius: 5px;
    background-color:#0266D6;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#bannerButton .contact{
    font-size: 17px;
    font-weight: 500;
    /* width:fit-content ; */
    display: flex;
    align-items: center;
    padding: 7px 20px;
    gap: 5px;
    border-radius: 5px;
    background-color:transparent;
    color: #0266D6;
    outline: none;
    border: 2px solid #0266D6;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

#bannerButton .book:hover{
    transform: scale(1.05);
}

#bannerButton .contact:hover{
    background-color: #0266D6;
    color: white;
}



/*   Newletter Section  ---------------------------------------------------------------------*/

#newsletter{
    background-image: url('assets/newsletter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    /* height: 20vh; */
    margin: 30px 0px;
}

#newsletter h2{
    color: white;
    font-weight: 200;
}
#newsletter h2 span{
    color: #E57B71 ;
}

#newsletter p{
    font-size: 15px;
    color: #1F8BCC;
    margin: 5px 0 20px 0;
}

#newsletter .newsletterForm{
    display: flex;
    width: 40%;
}


/* input and buttons are flex items inside, button adjacent to input is determining the height of input*/
/* By default, flex containers have  align-items:strech;     */
/* So the flex items (input and button) are stretched tot he same height. */
/*  to stop them from influencing each other's height, use align-items:flex-start; in .newsletterForm*/
#newsletter input{
    
    width: 100%;  
    /* here width:100%; is not 100% of the screen, its 100% of the parent element's width   */
    /*  .newletterForm width:100% makes .newsletterForm 40% as wide as its parent   */
    /*  input width:100% makes input 100% as wide as .newsletterForm    */


    font-size: 17px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    height: 3.2rem;
    /*  rem - Root EM, It is a relative length unit, tied directly to the font size of the root element i.e. <html> tag */
    /*  1rem = 16px     */
    /*  2rem = 32px     */
    /*  0.5rem = 8px    */

    padding: 0 1em;
    /*  em  - Relative length unit used to size typography, spacing, margins, and padding.  */
    /*  Its value is dynamic and changes based on the font size of element or its parent.   */
    /*  1em is equal to the font-size of the parent element */
    
    border: none;
    outline: none;
}

#newsletter button{
    height: 3.2rem;
    font-size: 17px;
    font-weight: 500;
    /* width:fit-content ; */
    padding: 7px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:#0266D6;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
}